:root {
  --main-color: #ff6600;
  --background-color: #111111;
  --text-color: #ffffff;
  --text-color-more: #88888888;
}

body {
  font-family: monospace;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0 1em;
}

h1 {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 img {
  height: 0.8em;
}

#rss-feed {
  max-width: 800px;
  margin: 0 auto;
}

#rss-feed>div {
  margin-bottom: 2em;
}

#errors {
  font-weight: bold;
}

.feed-item-wrap {
  position: relative;
}

.feed-item-wrap img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0.5em auto;
}

.feed-item-desc-wrap {
  position: relative;
  max-height: 10vh;
  overflow: hidden;
}

.feed-item-desc-wrap-expanded {
  max-height: none;
}

.feed-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #11111100, var(--background-color) 75%);
  display: flex;
  justify-content: right;
  align-items: end;
  z-index: 9999;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color-more);
  transition: color 0.3s;
}

.feed-item-overlay:hover {
  color: var(--main-color);
}

.feed-item-overlay-expanded {
  display: none;
}

a,
a:visited {
  color: var(--main-color);
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }

  body {
    padding: 0 0.5em;
  }

  #rss-feed>div {
    font-size: 1em;
    max-width: 100%;
  }
}
